<div class="container">
    <div class="row center-align">
        {{#each oneShop }}
        <div class="col s12">
            <div class="card large z-depth-2" id="shop-cards">
                <div class="card-image" id="review-shop-img">
                    <img id='reviewShopPhoto' src={{shopPhoto}}>
                    <span id='reviewShopName' class="card-title"><h5>{{shopName}}</h5></span>
                </div>
                <div class="card-content">
                    <h5 id='reviewShopLocation'>{{shopLocation}}</h5>
                    <br>
                    <p id='reviewShopDescription'>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}


<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each reviews}}
                <li class="collection-item">
                    <h6 class="review-title">{{reviewName}}</h6>
                    <p>{{review}}</p>
                    <p>Posted By: {{review.user_id}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Add a Review!</h2>
            <form class="form login-form">
                <div class="form-group">
                    <label for="review-title">Title</label>
                    <input class="form-input" type="text" id="review-title" />
                </div>
                <div class="input-field col s12">
                    <textarea id="review-content" class="materialize-textarea"></textarea>
                    <label for="textarea1">Tell us what you think...</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="submit-review" type="submit">Submit
                        Review</button>
                </div>
            </form>
        </div>
    </div>
</div>